.navigation{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-style: normal;
}
.link{
    text-decoration: none;
    color: #95a5a6;
    background-color:#34495e ;
    text-align: center;
    margin: 15px;
    padding: 0.5rem;
    border: 2px solid #34495e;
    border-radius: 10px;
    margin-top: 2em;
    font-style: oblique;
}

.navigation-close{
  display: none;
}

.navigation{
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 160px;
    text-align: start;
    margin: 5% 20px 0% 5px;
    display: flex;
    flex-direction: column;
  
  }

  .close-img{
    width : 2em;
    margin-left: 85%;
    margin-top: -3em;
    height : 3em;
  }
 

  .navigation-visible{
    z-index: 2;
    top:0%;
    background-color: #fdcb6e;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: start;
    animation: slidemenu 0.5s ;
    visibility:visible ;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    transition: 0.5s;
  }
  
  @keyframes slidemenu{
    from{
        height: 100%;
        width: 0%;
    }
    to{
        height: 100%;
        width:100%;
    }
  }

  @keyframes slidemenu-back{
    from{
      height: 100%;
      width: 100%;
    }
    to{
      height: 100%;
      width: 0%;
    }
  }

  .menu-burger{
    position: absolute;
    right: 3%;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid;
    top: 3%;
    background-color: #ffeaa7;
    font-size: 15px;
    font-style: normal;

  }