.navigation{
    display: flex ;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-style: normal;
}
.link{
    color: black;
    font-style: italic;
    text-align: center;
    margin: 2px;
    padding: 2px;
    display: inline;
}
.link:hover{
    color:rgb(204, 28, 28);
    text-decoration: underline solid ;
}
