.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color: #ffeaa7;
}
/* Style Input */
.field-input{
  position: relative;
  font-size: 14px;
  padding-top: 3em;
}

.field-input input{
  width: 80%;
  height: 3rem;
  background-color: white;
  border: 2px solid #fad390;
  border-radius: 10px;
  outline: none;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-style: oblique;
}

.field-input span{
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 1rem;
  transition: 0.25s;
}

.field-input input:valid ~ span{
  top: 1.8em;
  background-color: #ffeaa7;
}

.field-input input:disabled ~ span{
  top: 1.8em;
  background-color: #ffeaa7;
}

/* Ativité restante  */

.activite-content{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.choix-radio{
  display: grid;
 width: auto;
 height: auto;
 margin-top: 30%;
 margin-right : 5em;
 padding: 8px;
 border-radius: 10px;
 border: 2px solid #fad390;
}


.choix-radio:hover::selection{
  background-color: #61dafb;
}

.button-valide{
  width: 8rem;
  height: 2.5rem;
  font-size: large;
  font-style: oblique;
  margin-top: 2em;
  border: 2px solid;
  padding: 5px;
  border-radius: 5px;
  color: #95a5a6;
  margin-left: 40%;
  transform: translate(-50%);
}

/* Meteo */

.card-meteo{
  border: 1px solid #fd6a37;;
  background-color: #fd6a37;
  color: #e2e2e2 ;
  border-radius: 4px;
  margin: 25% 3em 2em 3em;
  padding: 1em;
  font-style: italic;
  font-size: 14px;
}

.meteo-place{
  font-style: oblique;
  font-size: 18px;
  text-decoration: underline;
}

/* Home */

.choix-radio{
  margin-left: 10%;
}

#card-rad{
  display: none;
  
}

#card-rad.card-rad-hidden{
  display: block ;
  height: 0%;
  border: 0px;
  border: 1px solid #fd6a37;
  background-color: #fd6a37;
  border-radius: 5px;
  justify-content: center;
  color: #e2e2e2 ;
  margin: 2em;
  padding: 1em;
}

.card-title{
  font-style: italic;
  font-size: 20px;
}

.none{
  display: none;
}

/* Conversion */

.render-conversion{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 10%;
}

/* Calcul de Dose  */

.card-calc-dose {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 5em;
}

.unite-select{
  display: grid;
  width: auto;
  height: auto;
  margin-top: 1em;
  margin-right : 5em;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #fad390;
}

/* Calcul Perim */

.card-calcul-perim{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 7em;
}
