body{
  background-color: #eeeeee;
}

/* Style Input */
.field-input{
  position: relative;
  font-size: 14px;
  padding-top: 3em;
}

.field-input input{
  width: 80%;
  height: 3rem;
  background-color: white;
  border: 2px solid #0075FC;
  border-radius: 10px;
  outline: none;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-style: oblique;
}

.field-input span{
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 1rem;
  transition: 0.25s;
}

.field-input input:valid ~ span{
  top: 1.8em;
  background-color: #eeeeee;
}

.field-input input:disabled ~ span{
  top: 1.8em;
  background-color: #eeeeee;
}

.field-input input:disabled{
  background-color: #ecf0f1 ;
}

/* Ativité restante  */

.activite-content{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.choix-radio{
  display: grid;
 width: auto;
 height: auto;
 margin-top: 1rem;
 margin-right : 5em;
 padding: 8px;
 border-radius: 10px;
 border: 2px solid #0075FC;
}


.button-valide{
  position:relative;
  background-color: #0075FC;
  left: 40%;
  width: 8rem;
  height: 2.5rem;
  font-size: large;
  font-style: oblique;
  margin-top: 2em;
  border: 2px solid;
  padding: 5px;
  border-radius: 5px;
  color: antiquewhite;
  transform: translateX(-50%);
}

/* Meteo */

.card-meteo{
  background-color: white;
  font : 14px 'Roboto' , sans-serif;
  font-weight: bold;
  border-radius: 14px;
  margin: 25% 3em 2em 3em;
  padding: 1em;
  font-style: italic;
  font-size: 14px;
}

.meteo-place{
  font-style: oblique;
  font-size: 18px;
  text-decoration: underline;
}

/* Home */

.choix-radio{
  margin-left: 10%;
}

#card-rad{
  display: none;
  
}

#card-rad.card-rad-hidden{
  display: block ;
  align-items: center;
  height: 0%;
  border: 0px;
  background-color: white;
  border-radius: 14px;

  margin: 2em;
  padding: 1em;
}

.card-title{
  font-style: italic;
  font-size: 20px;
}

.none{
  display: none;
}

/* Conversion */

.render-conversion{
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

/* Calcul de Dose  */

.card-calc-dose {
  display: flex;
  flex-direction: column;
  margin-left: 3em;

}

.unite-select{
  display: grid;
  width: auto;
  height: auto;
  margin-top: 1em;
  margin-right : 5em;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #0075FC
}

/* Calcul Perim */

.card-calcul-perim{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}
