.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color: #ffeaa7;
}
.App-link {
  color: #61dafb;
}

.leaflet-container{
  width:50vh;
  height: 50vh;
}

/* Style Input */
.field-input{
  position: relative;
  font-size: 14px;
  padding-top: 18px;
}

.field-input input{
  width: 250px;
  height: 30px;
  background-color: white;
  border: 2px solid #fad390;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 12px;
  font-style: italic;
}

.field-input span{
  position: absolute;
  left: 12px;
  top: 20px;
  font-size: 15px;
  transition: 0.25s;
}

.field-input input:valid ~ span{
  top: 5px;
  background-color: #ffeaa7;
}

.field-input input:disabled ~ span{
  top: 5px;
  background-color: #ffeaa7;
}

/* Ativité restante  */

.activite-content{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.choix-radio{
 width: auto;
 height: auto;
 margin: 5em 10px 10px 2em;
 padding: 8px;
 border-radius: 10px;
 border: 2px solid #fad390;
}

.button-valide{
  width: 6em;
  margin-top: 10px;
  border: 2px solid;
  padding: 5px;
  border-radius: 5px;
  color: #95a5a6;
  margin-left: 5em;
  transform: translate(-50%);
}

/* Meteo */

.card-meteo{
  border: 1px solid #fd6a37;;
  background-color: #fd6a37;
  color: #e2e2e2 ;
  border-radius: 4px;
  margin: 5em 3em 2em 3em;
  padding: 1em;
  font-style: italic;
  font-size: 14px;
}

.meteo-place{
  font-style: oblique;
  font-size: 18px;
  text-decoration: underline;
}

/* Home */

#card-rad{
  display: none;
  
}

#card-rad.card-rad-hidden{
  display: block;
  height: 0%;
  border: 0px;
  border: 1px solid #fd6a37;
  background-color: #fd6a37;
  border-radius: 5px;
  justify-content: center;
  color: #e2e2e2 ;
  margin: 2em;
  padding: 1em;
}

.card-title{
  font-style: italic;
  font-size: 20px;
}

.none{
  display: none;
}

/* Conversion */

.render-conversion{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 5em;
}

/* Calcul de Dose  */

.card-calc-dose {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 5em;
}

.unite-select{
  margin-top: 1em;
  border-radius: 5px;
  padding: 3px;
}

/* Calcul Perim */

.card-calcul-perim{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 7em;
}
